html {
  background-color: #141414;
  color: #fff;
}

.logo {
  font-size: 3rem;
  color: #e50914;
}
input,
textarea,
select {
  color: #141414;
}
table {
  width: 100%;
  color: #141414;
}
table td,
table th {
  padding: 0.25rem;
}
table tr:first-child {
  background-color: #e50914;
  color: #fff;
}

/* a los pares */
table tr:nth-child(even) {
  background-color: #666;
}

/* a los impares menos al primero */
table tr:nth-child(odd):not(:first-child) {
  background-color: #999;
}

.menu a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #e50914;
}

.menu a:hover {
  color: white;
}

/* botones */
.button {
  padding: 0.5rem 1rem;
  background-color: #141414;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  opacity: 0.75;
}
.add {
  background-color: #0b0;
}
.edit {
  background-color: #0871b2;
}
.delete {
  background-color: #d23641;
}
.show {
  background-color: #141414;
}
.error {
  background-color: #e50914;
  color: white;
}

.img-404 {
  max-width: 140px;
  height: auto;
}
.poster {
  max-height: 200px;
}
.trailer iframe {
  max-width: 560px;
  height: 315px;
}
